@import '../../../../styles/variables';

.table th {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: var(--text-muted);
  font-weight: 600;
}

.table td {
  vertical-align: middle;
  font-size: 0.875rem;
}

.cursor-pointer { cursor: pointer; }
